
body {
    font-family: 'Open Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
}


.text-color-white {
    color: white;
}

.text-color-white-a70 {
    color: rgba(255, 255, 255, 0.71);
}

.title-text {
    font-family: 'Saira Semi Condensed', sans-serif;
    font-weight: 700;
}

.color-black-a54 {
    color: rgba(0, 0, 0, 0.55);
}

.triangle-up {
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 16px solid rgba(255, 107, 149, 0.8);
    position: relative;
    top: -27px;
    margin: 4px;
}

.triangle-down {
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 16px solid rgba(255, 199, 150, 0.8);
    position: relative;
    top: 27px;
    margin: 4px;
}



header {
    background: url("../img/deco.png"),linear-gradient(137deg, #FFC796 0%, #FF6B95 100%);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

header .uk-navbar-nav>li>a {
    color: white;
}

header .uk-navbar-nav>li>a:hover {
    color: black;
}

header.uk-active {
    background-color: white;
}

.hero {
    height: calc(100vh - 80px);
    align-items: center;
}

.uk-navbar-nav>li>a.active {
    color: #ee395b;
}

.grand-title {
    font-size: 64px;
    line-height: 84px;
}

.hero-contents .sub-title {
    padding-right: 100px;
}

.hero-cta input {
    height: 64px;
    padding-left: 30px;
}

.hero-cta button.submit {
    background-color: #000;
    color: #fff;
    border-radius: 40px;
    padding: 0 40px;
    height: 64px;
    position: relative;
    left: -35px;
    border: 0;
}

.hero-cta .uk-input:focus {
    border-color:white;
}

.title-deco {
    text-transform: uppercase;
}

.title-deco-text {
    margin-left: 8px;
    margin-right: 4px;
}