
body {
    font-family: 'Open Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    color: rgba(0, 0, 0, 0.38);
    overflow-x: hidden;
}

.text-color-white {
    color: white;
}

.text-color-primary {
    color: #FF6B95;
}

.text-color-yellow {
    color: #FFC796;
}

.text-color-white-a70 {
    color: rgba(255, 255, 255, 0.71);
}

.title-text {
    font-family: 'Saira Semi Condensed', sans-serif;
    font-weight: 700;
}

.color-black-a54 {
    color: rgba(0, 0, 0, 0.55);
}

.uk-padding-medium {
    padding: 30px;
}

.triangle-up {
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 16px solid rgba(255, 107, 149, 0.8);
    position: relative;
    top: -27px;
    margin: 4px;
}

.triangle-down {
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 16px solid rgba(255, 199, 150, 0.8);
    position: relative;
    top: 27px;
    margin: 4px;
}

.circle-feat {
    width: 900px;
    height: 900px;
    background: linear-gradient(160deg, #FFC796 0%, #FF6B95 100%);
    -moz-border-radius: 500px;
    -webkit-border-radius: 500px;
    border-radius: 500px;
    position: absolute;
    z-index: -1;
    right: -280px;
    top: 64px;
}

.circle-coin {
    width: 680px;
    height: 680px;
    background: linear-gradient(-160deg, #FFC796 0%, #FF6B95 100%);
    -moz-border-radius: 350px;
    -webkit-border-radius: 350px;
    border-radius: 350px;
    position: absolute;
    z-index: -1;
    left: -550px;
    top: -172px;
}



header {
    background: url("../img/deco.png"),linear-gradient(137deg, #FFC796 0%, #FF6B95 100%);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

header .uk-navbar-nav>li>a {
    color: white;
}

header .uk-navbar-nav>li>a:hover {
    color: black;
}

header.uk-active {
    background-color: white;
}

.hero {
    height: calc(100vh - 80px);
    align-items: center;
}

.uk-navbar-nav>li>a.active {
    color: #ee395b;
}

.grand-title {
    font-size: 64px;
    line-height: 84px;
}

.hero-contents .sub-title {
    padding-right: 100px;
}

.cta input {
    height: 64px;
    padding-left: 30px;
    padding-right: 50px;
}

.cta button.submit {
    background-color: #000;
    color: #fff;
    border-radius: 40px;
    padding: 0 40px;
    height: 64px;
    position: relative;
    left: -35px;
    border-color: transparent;
}

.cta .uk-input:focus {
    border-color:white;
}

.feat.cta input{
    height: 56px;
}

.feat.cta input:focus {
    border-color:rgba(0, 0, 0, 0.12);
    /*border: 1px solid rgba(0, 0, 0, 0.12);*/
}

.feat.cta button {
    height: 56px;
}


.title-deco {
    text-transform: uppercase;
}

.title-deco-text {
    margin-left: 8px;
    margin-right: 4px;
}

.feat-wrapper ,.coin-wrapper {
    position: relative;
}

.feat-img {
    position: absolute;
    right: -420px;
    top: -40px;
}

.coin-img img{
    position: absolute;
    top: -50px;
}

.roadmap {
    background: linear-gradient(180deg, #FFC796 0%, #FF6B95 100%);
    position: relative;
}

.roadmap-wrapper {
    display: flex;
    flex-direction: column;
}

.roadmap-card.left {
    align-self: flex-start;
}

/*.roadmap-card.left:after {
    content: '';
    position: absolute;
    height: 1px;
    width: calc(50% - 400px);
    background-color: #fff;
    left: 400px;
    !* border: 1px dotted #fff; *!
    !* top: 50%; *!
}*/


.roadmap-card-wrapper.right {
    display: flex;
    justify-content: flex-end;
}


.roadmap-card {
    width: 400px;
    border-radius: 10px;
}

.roadmap-card-wrapper {
    position: relative;
}

.roadmap-wrapper:before {
    content: '';
    height: 100%;
    width: 2px;
    background-color: white;
    position: absolute;
    left: 50%;
}


.roadmap-wrapper {
    position: relative;
}

.roadmap-connect {
    position: absolute;
    height: 0;
    width: calc(50% - 400px);
    background-color: transparent;
    left: 400px;
    top: calc(50% + 15px);
    border: none;
    border-top: 1px dashed #fff;
}

.roadmap-connect:after, .roadmap-connect.right:before {
    content: '';
    width: 30px;
    position: absolute;
    height: 30px;
    background-color: #fff;
    top: -15px;
    border-radius: 50%;
}

.roadmap-connect:after {
    right: -15px;
}

.roadmap-connect.right:before {
    left: -15px;
}

.roadmap-connect.right:after {
    display: none;
}

.roadmap-connect.right {
    right: 400px;
    left: 50%;
}